aioxmpp==0.12.2
imutils==0.5.4
matplotlib~=3.5.3
nidaqmx~=0.6.5
numpy~=1.21.6
opencv_python==4.5.1.48
pandas~=1.3.5
Pillow~=9.3.0
pypylon~=1.8.0
PyYAML~=6.0
scikit_image==0.18.2
scikit_learn==1.0.1
skimage==0.0

opencv-python~=4.6.0.66
sklearn~=0.0
scikit-learn~=1.0.2
scikit-image~=0.19.3
slixmpp~=1.7.1
dnspython~=2.2.1
pycuda~=2022.1
pyrealsense2~=2.51.1.4348
pyzmq~=25.0.0
gps~=3.19
pyserial~=3.5
exif~=1.4.0
PyQt5~=5.15.7
scipy~=1.7.3
boto3~=1.26.50
botocore~=1.29.50
plotly~=5.13.1
requests~=2.28.2
shortuuid~=1.0.11
python-dateutil~=2.8.2
pyubx2~=1.2.26
geopy~=2.3.0
pymongo~=4.4.1