[Unit]
Description="Weeds Cloud Uploader"

[Service]
Type=simple
User=weeds
WorkingDirectory=/home/weeds/post
ExecStart=/home/weeds/post/weeds-uploader-service

[Install]
WantedBy=multi-user.target

