[Unit]
Description="Weed Image processing"

[Service]
Type=simple
User=weeds
WorkingDirectory=/home/weeds/jetson
ExecStart=/home/weeds/jetson/weeds-service

[Install]
WantedBy=multi-user.target

